/** @format */

.header-out {
  background-image: url("img/coffee-out-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
}

.container-ourBeans {
  max-width: 700px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-produts{
	max-width: 850px;
	margin: 0 auto;
	padding: 0 15px;
}