/** @format */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url("img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
}
.header >  .navbar-item .a {
  color: rgb(50, 175, 0);
}

.best {
  background-image: url("img/paper-1074131_1920.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
}
.best-container {
  max-width: 800px;
  margin: 0 auto;
}
.about-container {
  max-width: 590px;
  margin: 0 auto;
}
