/** @format */

.navbar {
  padding-top: 30px;
  display: flex;
  color: #fff;
}
.navbar-list {
  display: flex;
}
.navbar-item {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
}
.navbar-item a{
	padding: 5px 10px;
	background-color: rgb(151, 151, 161);
	border-radius: 20px;
	color: #fff;
}
.navbar-item a:hover{
	color: rgb(126, 22, 112);
}
.navbar-item + .navbar-item {
  margin-left: 40px;

}
