/** @format */

.navbar {
  padding-top: 30px;
  display: flex;
  color: #fff;
}
.navbar-list {
  display: flex;
}
.navbar-item {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;

}
.navbar-item + .navbar-item {
  margin-left: 40px;
}
